<app-login>
    <div class="loader" *ngIf="(loading$ | async)"><img src="/assets/img/1.gif"/></div>
    <form *ngIf="!(loading$ | async)" [formGroup]="forgotPasswordFrom" (ngSubmit)="onSubmit()" novalidate="novalidate">
        <div class="logincontent">

            <h1 class="logintitle"><img src="/assets/img/workspace-black.png" alt=""></h1>

            <h2 class="logintitle">Forgot your password?</h2>
            <h6 class="logintitle">Please provide UserName to receive your password.</h6>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon nobg"><i class="fa fa-user fa-lg"></i></span>
                    <input class="form-control valid" id="txtUserName" formControlName="userName" placeholder="Username"
                        type="text">
                </div>
            </div>
            <input id="btnSave" name="btnSave" type="submit" class="btn btn-primary btn-lg theme-btn me-1"
                value="Submit">
            <input id="btnCancel" name="btnCancel" type="button" class="btn btn-default btn-lg" value="Cancel"
                [routerLink]="['']">
        </div>
    </form>
</app-login>