<app-header (toggleSidebar)="sidebar.toggleSidebar()"></app-header>
<app-side-bar #sidebar>
    <!-- Write your code here  -->
    <div class="projects-container" style="user-select: none;">
        <div style="padding-bottom: 0px;">
            <i class="navic icp"></i> Projects <i class="fa fa-angle-right"></i>
            <span style="color: #999999;"> Service Request</span>
        </div>
        <app-alert></app-alert>
        <h2 class="blue_border p-0">My Service Request
            <span class="p-0">
                <a href="workspace/service-request/manage" class="btn theme-btn rounded-0 mb-1" style="color: white;">
                    <i class="fa fa-plus"></i>
                </a>
            </span>
        </h2>
    </div>
</app-side-bar>